@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: auto;
}

.down-arrow {
  border-left: 8px transparent solid;
  border-right: 8px transparent solid;
  border-top: 8px black solid;
  width: 0;
  height: 0;
}

.responsive-menu {
  background: rgba(0, 0, 0, 0.6) 0% 0% no-repeat padding-box;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  z-index: 9999;
}

.banner {
  background: transparent linear-gradient(67deg, #E71D3A 0%, #ECC7C1 45%, #EFCAC4 58%, #E4BDB8 70%, #42A8FE 100%) 0% 0% no-repeat padding-box;
}